{{- $Summary := .Summary | plainify -}}
{{- $public_cdn := cond .Site.IsServer "" .Site.Params.publicCDN -}}
{{- $lazyload_image := print $public_cdn ("images/outload.svg" | relURL) -}}

{{- $processImage := "" -}}
{{- $lazyload := .Site.Params.lazyload -}}
{{- $featuredImageUrl := or .Params.featured_image .Site.Params.defaultFeaturedImage -}}
{{- $featuredImageHeight := .Site.Params.featuredImageHeight -}}


{{- if (urls.Parse ($featuredImageUrl | safeURL)).Scheme -}}
    {{- $processImage = partial "helper/image-process" (dict "Image" $featuredImageUrl "Site" .Site) -}}
    {{- $featuredImageUrl = (replace $featuredImageUrl "{{timestamp}}" (delimit (shuffle (seq 1 9)) "")) | safeURL -}}
{{- else -}}
    {{- $featuredImage := "" -}}
    {{- if .Params.featured_image -}}
        {{- $featuredImage = .Resources.GetMatch .Params.featured_image -}}
    {{- else -}}
        {{- $featuredImage = resources.Get .Site.Params.defaultFeaturedImage -}}
    {{- end -}}

    {{- $processImage = partial "helper/image-process" (dict "Image" $featuredImage "Site" .Site) -}}

    {{- $featuredImageUrl = print $public_cdn $featuredImage.Permalink -}}
{{- end }}

<a
    href="{{- .RelPermalink -}}"
    class="article-cover relative block {{ if $featuredImageHeight }}h-0{{ . }}{{ end }} w-full transition duration-100 ease-[ease]"
    style="{{- with $processImage.Colors -}}background-image: linear-gradient(180deg, {{- . -}});{{- end -}} {{- with $featuredImageHeight -}}padding-bottom: {{- . -}};{{- end -}}"
>
    <picture class="noscript-hidden">
        {{- if $processImage.Processed -}}
            <source {{ if $lazyload }}data-{{ end }}srcset="{{- $processImage.SrcsetWebp -}}" type="image/webp" />
        {{- end -}}
        <img
            {{ if $lazyload }}data-{{ end }}src="{{- $featuredImageUrl -}}"
            {{ if $lazyload }}src="{{- or $processImage.Placeholder $lazyload_image -}}"{{ end }}
            {{ if $processImage.Processed }}
                {{ if $lazyload }}data-{{ end }}srcset="{{- $processImage.Srcset -}}"
            {{ end -}}
            {{ with .Title }}alt="{{- . -}}"{{ end }}
            {{ if not $processImage.Placeholder }}style="background-color: #fff;"{{ end }}
            class="noscript-hidden {{ if $featuredImageHeight }}absolute{{ end }} left-0 top-0 h-full w-full object-cover object-center transition duration-300 ease-[ease]"
            {{ if $lazyload }}data-lazyload data-lazyload-blur{{ end }}
        />
    </picture>

    <noscript>
        <picture>
            {{- if $processImage.Processed -}}<source srcset="{{- $processImage.SrcsetWebp -}}" type="image/webp" />{{- end -}}
            <img
                src="{{- $featuredImageUrl -}}"
                {{- if $processImage.Processed -}}srcset="{{- $processImage.Srcset -}}"{{- end -}}
                {{- with .Title -}}alt="{{- . -}}"{{- end -}}
                {{- if not $processImage.Placeholder -}}style="background-color: #fff;"{{- end -}}
                class="absolute left-0 top-0 h-full w-full object-cover object-center transition duration-300 ease-[ease]"
            />
        </picture>
    </noscript>

    {{- if $processImage.Processed -}}
        <div
            class="cover-shadow absolute left-0 top-0 -z-10 hidden h-full w-full bg-cover bg-center bg-no-repeat transition duration-300 ease-[ease] md:block"
            style="background-image:url({{- or $processImage.Placeholder $featuredImageUrl -}})"
        ></div>
    {{- end -}}

    <div
        class="article-title absolute bottom-0 left-0 z-10 hidden h-4/5 w-full items-end p-5 text-2xl text-white dark:text-darkText sm:flex md:p-10 md:text-3xl"
    >
        <div class="w-full">
            <div class="font-bold line-clamp-2 md:line-clamp-3">{{- .Title -}}</div>
            {{- with $Summary -}}<div class="mt-2 hidden text-xl line-clamp-2 md:mt-4" title="{{- . -}}">{{ . }}</div>{{- end -}}
        </div>
    </div>
</a>

<div class="block border-t px-5 pt-5 dark:border-darkBorder sm:hidden">
    <a href="{{- .RelPermalink -}}" class="text-2xl font-bold transition line-clamp-2 group-hover:text-theme md:line-clamp-3">{{- .Title -}}</a>
    {{- with $Summary -}}<div class="mt-4 mb-1 line-clamp-2" title="{{- . -}}">{{ . }}</div>{{- end -}}
</div>