{{- if .Site.Params.i18nlist -}}
    {{- $public_cdn := cond .Site.IsServer "" .Site.Params.publicCDN -}}


    <div id="i18nlist">
        {{- if .IsTranslated -}}
            <div
                style="font-size: 0;"
                class="absolute left-0 top-0 z-50 rounded rounded-tl-none rounded-bl-none bg-white p-1.5 shadow-custom dark:bg-darkBgAccent"
            >
                <input type="checkbox" name="i18nlist-input" id="i18nlist-checkbox" />
                <label for="i18nlist-checkbox">
                    <i class="eva eva-globe-outline cursor-pointer text-xl leading-none group-hover:hidden"></i>
                </label>
                <ul class="hidden border border-transparent pb-0 group-hover:block">
                    {{- range $.Translations -}}
                        <li class="mb-1.5 cursor-pointer last:mb-0">
                            <a data-no-swup href="{{- .Permalink -}}" title="{{- T "switchLang" -}}{{- .Language.LanguageName -}}">
                                {{- $flag := resources.Get .Site.Params.icon -}}
                                <img class="w-6 cursor-pointer rounded-sm" src="{{- print $public_cdn $flag.RelPermalink -}}" alt="{{- .Lang -}}" />
                            </a>
                        </li>
                    {{- end -}}
                </ul>
            </div>
        {{- end -}}
    </div>
{{- end -}}
