{{- $title := .Title -}}
{{- $siteTitle := .Site.Title -}}

{{- if .IsHome -}}
    <!-- Homepage, and it's pagination -->

    <!-- Build paginator -->
    {{ $pages := where site.RegularPages "Type" "in" (slice "posts" "status") }}
    {{ $pag := .Paginate $pages }}

    {{ if .Paginator.HasPrev }}
        <!-- Paginated. Append page number to title -->
        {{ $title = printf "%s - %s" (T "page.page" (string .Paginator.PageNumber)) $siteTitle }}
    {{ else }}
        {{ $title = $siteTitle}}
    {{ end }}
{{- else if eq .Kind "term" -}}
    <!-- Taxonomy page -->

    <!-- Build paginator -->
    {{ $pages := where .Pages "Type" "in" (slice "posts" "status") }}
    {{ $pag := .Paginate $pages }}

    <!-- {TAXONOMY_TYPE}: {TAXONOMY_TERM} -->
    {{ $title = slice (T (printf `taxonomy._%s` .Data.Plural)) ": " $title }}

    {{ if .Paginator.HasPrev }}
        <!-- Add page number-->
        {{ $title = $title | append " - " (T "page.page" (string .Paginator.PageNumber)) }}
    {{ end }} 

    {{ $title = $title | append " - " $siteTitle }}
    {{ $title = delimit $title "" }}
{{- else -}}
    {{ $title = printf "%s - %s" $title $siteTitle }}
{{- end -}}

{{ return $title }}