{{- $public_cdn := cond .Site.IsServer "" .Site.Params.publicCDN -}}
{{- $title := .Site.Title -}}
{{- $image := .Site.Params.logo.url | absURL -}}
{{- if .Site.Params.featured_image -}}
    {{- $image = (.Resources.GetMatch .Site.Params.featured_image).Permalink -}}
{{- end -}}
{{- $description := .Site.Params.description -}}
{{- if .Summary -}}
    {{- $description = .Summary | plainify -}}
{{- end -}}


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="{{- range union (union .Params.tags .Params.categories) .Site.Params.keywords -}}{{ . }},{{- end -}}" />
    <meta name="description" content="{{- $description -}}" />
    <meta itemprop="description" content="{{- $description -}}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta itemprop="name" content="{{- $title -}}" />
    <link href="{{- `index.xml` | absURL -}}" title="{{- $title -}}" type="application/rss+xml" rel="alternate" />
    <title>{{- $title -}}</title>
    {{- $sassTemplate := resources.Get "sass/main.scss" -}}
    {{- $styles := $sassTemplate | resources.ExecuteAsTemplate "main.css" . | resources.ToCSS | postCSS (dict "config" "postcss.config.js") -}}

    {{- if .Site.IsServer -}}
        <link rel="stylesheet" href="{{- $styles.RelPermalink -}}" />
    {{- else -}}
        {{- $styles := $styles | fingerprint | resources.PostProcess -}}
        <link rel="stylesheet" href="{{- print $public_cdn $styles.RelPermalink -}}" integrity="{{- $styles.Data.Integrity -}}" />
    {{- end -}}


    <meta property="og:site_name" content="{{- $title -}}" />
    <meta property="og:type" content="{{- if $.IsNode -}}website{{- else -}}article{{- end -}}" />
    <meta property="og:title" content="{{- .Title -}}" />
    <meta property="og:description" content="{{- $description -}}" />
    <meta property="og:url" content="{{- .Permalink -}}" />
    <meta property="og:image" content="{{- $image -}}" />
    <meta property="article:publisher" content="{{- .Permalink -}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{- $title -}}" />
    <meta name="twitter:description" content="{{- $description -}}" />
    <meta name="twitter:url" content="{{- .Permalink -}}" />
    <meta name="twitter:image" content="{{- $image -}}" />
    <meta name="twitter:site" content="@{{- .Site.Params.author -}}" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1280" />
    <meta name="theme-color" content="{{- .Site.Params.themeColor -}}" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{- $title -}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    {{- if .IsPage -}}
        {{- if not .Date.IsZero -}}
            <meta property="article:published_time" content="{{- .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML -}}" />
        {{- end -}}
        {{- if not .Lastmod.IsZero -}}
            <meta property="article:modified_time" content="{{- .Lastmod.Format "2006-01-02T15:04:05-07:00" | safeHTML -}}" />
        {{- end -}}
    {{- else -}}
        {{- if not .Site.LastChange.IsZero -}}
            <meta property="og:updated_time" content="{{- .Site.LastChange.Format " 2006-01-02T15:04:05-07:00 " | safeHTML -}}" />
        {{- end -}}
    {{- end -}}

    {{- $favicon_icon := resources.Get "icon.png" -}}
    {{- $favicon_icon = $favicon_icon.Resize "48x48 ico icon" -}}
    {{- $favicon_icon = slice $favicon_icon | resources.Concat "favicon.ico" -}}
    {{- $favicon_icon = print $public_cdn $favicon_icon.RelPermalink -}}


    <link rel="shortcut icon" href="{{- $favicon_icon -}}" type="image/x-icon" />

    {{- $manifest := resources.Get "manifest.json" | resources.ExecuteAsTemplate (print ("/" | relLangURL) "manifest.json") . -}}
    <link rel="manifest" href="{{- $manifest.RelPermalink -}}" />

    {{- $icon := print $public_cdn (resources.Get "icon.png").RelPermalink -}}
    <link href="{{- $icon -}}" rel="shortcut icon" />
    <link href="{{- $icon -}}" rel="Bookmark" />
    <link rel="apple-touch-icon" href="{{- $icon -}}" />
    {{- partial "site-schema.html" . -}}


    <!-- custom.js -->
    {{- partial "custom/head" . -}}
</head>
