{{- $lazyload := .Page.Site.Params.lazyload -}}
{{- $imageZoom := .Page.Site.Params.imageZoom -}}
{{- $public_cdn := cond .Page.Site.IsServer "" .Page.Site.Params.publicCDN -}}
{{- $lazyload_image := print $public_cdn ("images/outload.svg" | relURL) -}}

{{- $Alt := .PlainText | safeHTML -}}

{{- if (urls.Parse (.Destination | safeURL)).Scheme -}}
    <figure class="gallery-image">
        <picture class="noscript-hidden">
            <img
                {{ if $lazyload }}data-{{ end }}src="{{- .Destination | safeURL -}}"
                {{ if $lazyload }}src="{{- $lazyload_image -}}"{{ end }}
                {{- with $Alt -}}alt="{{- . -}}"{{- end -}}
                {{ if $imageZoom }}data-zoomable{{ end }}
                {{ if $lazyload }}data-lazyload{{ end }}
            />
        </picture>
        <noscript data-lazyload-noscript>
            <a href="{{ .Destination | relURL | safeURL }}" target="_blank" rel="noopener noreferrer">
                <picture>
                    <img
                        src="{{ .Destination | relURL | safeURL }}"
                        {{- with $Alt -}}alt="{{- . -}}"{{- end -}}
                    />
                </picture>
            </a>
        </noscript>
        {{- with $Alt -}}
            <figcaption>{{- . | markdownify -}}</figcaption>
        {{- end -}}
    </figure>
{{- else -}}
    {{- $Image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
    {{- $Permalink := .Destination | relURL | safeURL -}}
    {{- $galleryImage := false -}}

    {{- $processImage := partial "functions/image-process" (dict "Image" $Image "Site" .Page.Site) -}}

    {{- if $processImage.Processed -}}
        {{- $galleryImage = true -}}
    {{- end -}}
    {{- $Permalink = print $public_cdn $processImage.Permalink -}}


    <figure
        {{ if $galleryImage }}
            class="gallery-image" style=" flex-grow: {{- div (mul $Image.Width 100) $Image.Height -}}; flex-basis:
            {{- div (mul $Image.Width 240) $Image.Height -}}px"
        {{ end }}
    >
        <picture class="noscript-hidden">
            {{- with $processImage.SrcsetWebp -}}<source {{ if $lazyload }}data-{{ end }}srcset="{{- . -}}" type="image/webp" />{{- end -}}
            <img
                {{ if $lazyload }}data-{{ end }}src="{{- $Permalink -}}"
                {{ if $lazyload }}src="{{- $processImage.Placeholder -}}"{{ end }}
                {{- with $processImage.Width -}}width="{{- . -}}"{{- end -}}
                {{- with $processImage.Height -}}height="{{- . -}}"{{- end -}}
                {{ if $lazyload }}data-{{ end }}{{- with $processImage.Srcset -}}srcset="{{- . -}}"{{- end -}}
                {{- with $Alt -}}alt="{{- . -}}"{{- end -}}
                {{ if $imageZoom }}data-zoomable{{ end }}
                {{ if $lazyload }}data-lazyload data-lazyload-blur{{ end }}
            />
        </picture>
        <noscript data-lazyload-noscript>
            <a class=" before:hidden" href="{{- $Permalink -}}" target="_blank" rel="noopener noreferrer">
                <picture>
                    {{- with $processImage.SrcsetWebp -}}<source srcset="{{- . -}}" type="image/webp" />{{- end -}}
                    <img
                        src="{{- $Permalink -}}"
                        {{- with $processImage.Width -}}width="{{- . -}}"{{- end -}}
                        {{- with $processImage.Height -}}height="{{- . -}}"{{- end -}}
                        {{- with $processImage.Srcset -}}srcset="{{- . -}}"{{- end -}}
                        {{- with $Alt -}}alt="{{- . -}}"{{- end -}}
                    />
                </picture>
            </a>
        </noscript>

        {{- if not (eq $Alt .Page.Title) -}}
            {{- with $Alt -}}
                <figcaption>{{- . | markdownify -}}</figcaption>
            {{- end -}}
        {{- end -}}
    </figure>
{{- end -}}
