{{- $lazyload := .Page.Site.Params.lazyload -}}
{{- $imageZoom := .Page.Site.Params.imageZoom -}}
{{- $public_cdn := cond .Page.Site.IsServer "" .Page.Site.Params.publicCDN -}}

{{- $Alt := .PlainText | safeHTML -}}
{{- if (urls.Parse (.Destination | safeURL)).Scheme -}}
    <figure class="gallery-image">
        <picture>
            <img
                {{ if $lazyload }}data-{{ end }}src="{{- .Destination | safeURL -}}"
                {{ if $lazyload }}src="{{- print $public_cdn ("images/outload.svg" | relURL) -}}"{{ end }}
                {{- with $Alt -}}alt="{{- . -}}"{{- end -}}
                {{ if $imageZoom }}data-zoomable{{ end }}
                {{ if $lazyload }}data-lazyload{{ end }}
            />
        </picture>
        {{- with $Alt -}}
            <figcaption>{{- . | markdownify -}}</figcaption>
        {{- end -}}
    </figure>
    <noscript data-lazyload-noscript>
        <img
            src="{{ .Destination | relURL | safeURL }}"
            {{- with $Alt -}}alt="{{- . -}}"{{- end -}}
        />
    </noscript>
{{- else -}}
    {{- $Image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
    {{- $Permalink := .Destination | relURL | safeURL -}}
    {{- $Width := 0 -}}
    {{- $Height := 0 -}}
    {{- $Srcset := "" -}}
    {{- $Srcset_Webp := "" -}}

    {{- $Placeholder := "" -}}

    {{/* SVG and external images won't work with gallery layout, because their width and height attributes are unknown */}}
    {{- $galleryImage := false -}}

    {{- if and $Image (not (eq $Image.MediaType.SubType "gif")) -}}
        {{- $notSVG := ne (path.Ext .Destination) ".svg" -}}
        {{- $Permalink = $Image.RelPermalink -}}

        {{- if $notSVG -}}
            {{- $Width = $Image.Width -}}
            {{- $Height = $Image.Height -}}
            {{- $galleryImage = true -}}
            {{- if (default true .Page.Site.Params.imageProcessing.content.enabled) -}}
                {{- $small := $Image.Resize "640x" -}}
                {{- $big := $Image.Resize "1080x" -}}

                {{- $small_webp := $Image.Resize "640x webp" -}}
                {{- $big_webp := $Image.Resize "1080x webp" -}}

                {{- $Placeholder = ($Image.Resize "50x").Filter (images.GaussianBlur 2) -}}

                {{- $Srcset = printf `%s 640w, %s 1080w` (print $public_cdn $small.RelPermalink) (print $public_cdn $big.RelPermalink) -}}
                {{- $Srcset_Webp = printf `%s 640w, %s 1080w` (print $public_cdn $small_webp.RelPermalink) (print $public_cdn $big_webp.RelPermalink) -}}
                {{- $Placeholder = print $public_cdn $Placeholder.RelPermalink -}}
            {{- end -}}
        {{- end -}}
    {{- else -}}
        {{- if $Image -}}
            {{- $Permalink = $Image.RelPermalink -}}
        {{- end -}}
    {{- end -}}

    {{- $Permalink = print $public_cdn $Permalink -}}


    <figure
        {{ if $galleryImage }}
            class="gallery-image" style=" flex-grow: {{- div (mul $Image.Width 100) $Image.Height -}}; flex-basis:
            {{- div (mul $Image.Width 240) $Image.Height -}}px"
        {{ end }}
    >
        <picture>
            {{- with $Srcset_Webp -}}<source {{ if $lazyload }}data-{{ end }}srcset="{{- . -}}" type="image/webp" />{{- end -}}
            <img
                {{ if $lazyload }}data-{{ end }}src="{{- $Permalink -}}"
                {{ if $lazyload }}src="{{- $Placeholder -}}"{{ end }}
                {{- with $Width -}}width="{{- . -}}"{{- end -}}
                {{- with $Height -}}height="{{- . -}}"{{- end -}}
                {{ if $lazyload }}data-{{ end }}srcset="{{- $Srcset -}}"
                {{- with $Alt -}}alt="{{- . -}}"{{- end -}}
                {{ if $imageZoom }}data-zoomable{{ end }}
                {{ if $lazyload }}data-lazyload data-lazyload-blur{{ end }}
            />
        </picture>

        {{- if not (eq $Alt .Page.Title) -}}
            {{- with $Alt -}}
                <figcaption>{{- . | markdownify -}}</figcaption>
            {{- end -}}
        {{- end -}}
    </figure>
    <noscript data-lazyload-noscript>
        <img
            src="{{- $Permalink -}}"
            {{- with $Width -}}width="{{- . -}}"{{- end -}}
            {{- with $Height -}}height="{{- . -}}"{{- end -}}
            {{- with $Srcset -}}srcset="{{- . -}}"{{- end -}}
            {{- with $Alt -}}alt="{{- . -}}"{{- end -}}
        />
    </noscript>
{{- end -}}
