/* purgecss start ignore */
:root {
    --theme: #{$theme};
    --color-zoom-bg: #fff;
    --color-text: rgba(55, 65, 81, 1);
    --color-dark-bg: #0d1117;
    --color-dark-bg-accent: #21262d;
    --color-dark-fg: #161b22;
    --color-dark-border: #30363d;
    --color-dark-text: #d3d4de;
    --color-dark-text-placeholder: #8b8c95;
}
.dark {
    --theme: #{darken($theme, 20%)};
    --color-zoom-bg: #0d1117;
}
/* purgecss end ignore */

$opacities: 0, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90;

@each $opacity in $opacities {
    $alpha: $opacity / 100;
    .bg-theme\/#{$opacity} {
        background-color: rgba(
            $color: $theme,
            $alpha: $alpha
        );
    }
    .hover\:bg-theme\/#{$opacity}:hover {
        background-color: rgba(
            $color: $theme,
            $alpha: $alpha
        );
    }
}
