/* purgecss start ignore */
:root {
    --theme: #{$theme};
    --color-zoom-bg: #fff;
    --color-text: rgba(55, 65, 81, 1);
    --color-dark-bg: #16171d;
    --color-dark-bg-accent: #2a2d3a;
    --color-dark-fg: #24252d;
    --color-dark-border: #32333c;
    --color-dark-text: #d3d4de;
    --color-dark-text-placeholder: #8b8c95;
}
.dark {
    --theme: #{darken($theme, 30%)};
    --color-zoom-bg: #16171d;
}
/* purgecss end ignore */