// $font: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Merriweather, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body {
    font-family: var(--font);
    word-spacing: 0.5px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

input[type='search']::-webkit-search-cancel-button {
    display: none;
}

fieldset {
    min-inline-size: auto;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
    outline: none;
    background-color: transparent;
}

[type='button'] {
    -webkit-appearance: none;
}

a[target='_blank'] {
    cursor: alias;
}

input[type='checkbox'] {
    font-family: 'Eva-Icons';
    vertical-align: text-top;
    @apply bg-transparent align-bottom;
    &:after {
        content: '\ebb0';
    }
    &:checked {
        &:after {
            content: '\ea69';
        }
    }
}

.typo {
    font-size: 1.05rem;
    line-height: 1.9em;

    ::-webkit-scrollbar {
        @apply h-2 w-2;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-gray-500 dark:bg-darkTextPlaceholder;
    }

    b,
    strong {
        font-weight: bold;
        // margin: 0;
        // padding: 0.15rem 0.25rem;
        // border-radius: 7.5px;
        // background:
        //     linear-gradient(
        //         104deg,
        //         rgba(255, 130, 130, 0) 0.9%,
        //         hsla(337deg, 100%, 75%, 1) 2.4%,
        //         hsla(337deg, 100%, 75%, 0.5) 5.8%,
        //         hsla(337deg, 100%, 75%, 0.1) 93%,
        //         hsla(337deg, 100%, 75%, 0.7) 96%
        //     ),
        //     linear-gradient(
        //         183deg,
        //         hsla(345deg, 100%, 75%, 0),
        //         hsla(329deg, 100%, 71%, 0.3) 7.9%,
        //         hsla(337deg, 100%, 75%, 0) 15%
        //     );
        // text-shadow: -12px 12px 9.8px hsla(337deg, 100%, 75%, 0.7), 21px -18.1px 7.3px #fff, -18.1px -27.3px 30px #fff;
    }

    a[target='_blank'] {
        &::after {
            content: '\eaab';
            font-family: Eva-Icons;
            margin-left: 2px;
            vertical-align: middle;
        }
    }

    input[type='checkbox'] {
        font-family: 'Eva-Icons';
        vertical-align: text-top;
        @apply bg-transparent align-bottom;
        &:after {
            content: '\ebb0';
        }
        &:checked {
            &:after {
                content: '\ea69';
            }
        }
    }
    figcaption {
        @apply text-center text-gray-400;
    }
    img.emoji {
        display: inline-block;
        height: 1em;
        width: 1em;
        margin: 0;
        vertical-align: -0.1em;
    }
    figure {
        @apply mb-4;
        img {
            @apply mb-0 #{!important};
        }
        figcaption {
            @apply mt-2 leading-7;
        }
    }
    blockquote:not(.quote) {
        @apply my-4 ml-0 rounded border-l-4 border-theme bg-gray-50 p-5 dark:bg-darkBgAccent;
        p {
            @apply first:mt-0 last:mb-0;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply mt-4;
        }
        blockquote {
            @apply border border-gray-300 dark:border-gray-600;
        }
    }
    details.accordion {
        summary::before {
            content: '\ea70';
            font-family: Eva-Icons;
        }
        &[open] {
            summary::before {
                content: '\ea6c';
            }
        }
    }
    ul {
        @apply mb-5 pl-8;
        li {
            @apply list-disc pl-1;
        }
    }

    ol {
        @apply mb-5 pl-8;
        li {
            @apply list-decimal pl-1;
        }
    }

    li {
        @apply mt-1 marker:text-gray-400;

        ul,
        ol {
            @apply my-2;
        }

        ul {
            li {
                @apply list-[circle];
            }
        }
    }

    p {
        @apply my-4 leading-8;
    }

    a:not(.no-icon) {
        @apply relative inline-block text-theme no-underline;
        &:hover {
            @apply underline;
        }
    }

    pre {
        font-family: Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
        @apply relative my-4 overflow-x-auto rounded bg-gray-800 p-4 text-sm;

        code {
            @apply bg-transparent p-0;
            &::after {
                content: '';
                @apply h-11 w-full bg-white;
            }
        }
    }

    .highlight {
        @apply relative my-4 overflow-hidden rounded dark:border dark:border-darkBorder;
        pre {
            @apply my-0 rounded-none bg-gray-800 dark:bg-transparent #{!important};
        }
        &[title] {
            & > div {
                @apply pt-4;
            }
        }
        &::after {
            content: attr(title);
            @apply absolute left-0 top-0 w-full py-2 text-center leading-6 text-white;
        }
        header {
            color: #8b949e;
            @apply flex w-full items-center justify-between bg-gray-800 px-4 py-2 text-base dark:border-b dark:border-darkBorder dark:bg-transparent dark:text-darkTextPlaceholder;
            i {
                @apply cursor-pointer;
            }
            & + div {
                @apply bg-gray-800 pt-0 dark:bg-transparent #{!important};
            }
            span {
                @apply mr-0.5 inline-block h-2.5 w-2.5 rounded-full;
                &:nth-child(1) {
                    @apply bg-red-400;
                }
                &:nth-child(2) {
                    @apply bg-yellow-400;
                }
                &:nth-child(3) {
                    @apply mr-4 bg-green-400;
                }
            }
        }
        table {
            @apply block max-h-96;

            pre {
                @apply p-0 py-4;
            }
            td:nth-child(1) {
                @apply w-12;
                pre {
                    @apply pl-4;
                }
                span {
                    display: block;
                }
            }
            td:nth-child(2) {
                width: calc(100% - 3rem);
                pre {
                    @apply px-2;
                }
            }
        }
        code {
            @apply bg-transparent;
        }
    }

    code {
        font-family: Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
        @apply break-normal rounded bg-gray-700 px-1 py-1 text-sm text-white dark:text-darkText;
    }

    img:not(.link-card-img),
    video {
        border: 1px solid #f4f4f4;
        @apply my-4 w-full rounded dark:border-darkBorder;
    }

    @if $headlineCounter {
        counter-reset: h2 0 h3 0 h4 0 h5 0 h6 0;
        $content: counter(h2);
        @for $i from 1 through 5 {
            h#{$i} {
                counter-reset: h#{$i + 1};
            }
            h#{$i + 1}::before {
                counter-increment: h#{$i + 1};
                content: $content;
                @apply mr-6 text-gray-400;
            }
            $content: $content '.' counter(h#{$i + 2});
        }
    } @else {
        h4,
        h5,
        h6 {
            @apply font-bold;
            &::before {
                content: '#';
                @apply mr-2 w-5 font-bold italic text-gray-400;
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mb-4 mt-8 font-bold text-gray-800 dark:text-darkText;
        a {
            color: initial;
            &::before {
                display: none;
            }
        }
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    h6 {
        @apply text-base;
    }

    hr {
        @apply my-16 mx-auto border-gray-200 dark:border-darkBorder;
    }

    table {
        width: 100%;
        border-spacing: 0;
        @apply my-8 max-w-full border-collapse overflow-auto whitespace-nowrap rounded text-center;
        &::-webkit-scrollbar {
            @apply h-2 w-2;
        }
        thead {
            @apply border-b border-gray-300 dark:border-gray-600;
        }
        th {
            @apply font-bold;
        }
        tr {
            @apply border-b border-gray-300 last:border-0 dark:border-gray-600;
        }
        th,
        td {
            @apply border-collapse overflow-hidden text-ellipsis p-3 text-left text-base;
        }
        @media (max-width: 600px) {
            @apply block w-full table-auto overflow-auto whitespace-nowrap;
        }
    }

    .katex-display {
        @apply overflow-x-auto py-4 px-2;
    }
}

.dark {
    // b, strong {
    //     font-weight: bold;
    //     margin: 0;
    //     padding: 0.15rem 0.25rem;
    //     border-radius: 7.5px;
    //     background:
    //         linear-gradient(
    //             104deg,
    //             rgba(255, 130, 130, 0) 0.9%,
    //             hsla(337deg, 72%, 59%, 1) 2.4%,
    //             hsla(337deg, 72%, 59%, 0.5) 5.8%,
    //             hsla(337deg, 72%, 59%, 0.1) 93%,
    //             hsla(337deg, 72%, 59%, 0.7) 96%
    //         ),
    //         linear-gradient(
    //             183deg,
    //             hsla(345deg, 72%, 59%, 0),
    //             hsla(329deg, 72%, 55%, 0.3) 7.9%,
    //             hsla(337deg, 72%, 59%, 0) 15%
    //         );
    //     text-shadow: -12px 12px 9.8px hsla(337deg, 72%, 59%, 0.7), 21px -18.1px 7.3px var(--color-dark-fg), -18.1px -27.3px 30px var(--color-dark-fg);
    // }
}

mjx-container svg {
    @apply inline-block;
}
