{{- $public_cdn := cond .Site.IsServer "" .Site.Params.publicCDN -}}
{{- $Image := .Image -}}
{{- $Permalink := "" -}}
{{- $returnValue := newScratch -}}

{{- if (urls.Parse ($Image | safeURL)).Scheme -}}
    {{- $returnValue.SetInMap "returnValue" "Processed" false -}}
{{- else -}}
    {{- $NotSVG := ne $Image.MediaType.SubType "svg" -}}
    {{- $NotGIF := ne $Image.MediaType.SubType "gif" -}}
    {{- $Width := 0 -}}
    {{- $Height := 0 -}}
    {{- $Srcset := false -}}
    {{- $SrcsetWebp := false -}}
    {{- $Placeholder := false -}}
    {{- $Colors := false -}}

    {{- $imageProcessing := .Site.Params.imageProcessing -}}

    {{- if and $Image (and $NotSVG) -}}
        {{- $Permalink = $Image.RelPermalink -}}
        {{- $Width = $Image.Width -}}
        {{- $Height = $Image.Height -}}
        {{- if $imageProcessing.content -}}
            {{- if $NotGIF -}}
                {{- $_flag := false -}}
                {{- range $index, $size := sort $imageProcessing.autoResize -}}
                    {{- if not $_flag -}}
                        {{- $isLast := or (eq (add $index 1) (len $imageProcessing.autoResize)) (le $Width $size) -}}
                        {{- $end := print " " . "w" (cond $isLast "" ", ") -}}
                        {{- $resizeWidth := cond (ge $Width $size) $size $Width -}}

                        {{- $Srcset = print $public_cdn ($Image.Resize (print $resizeWidth "x")).RelPermalink $end -}}

                        {{- if $imageProcessing.webp -}}
                            {{- $SrcsetWebp = print $public_cdn ($Image.Resize (print $resizeWidth "x webp")).RelPermalink $end -}}
                        {{- end -}}

                        {{- if le $Width $size -}}
                            {{- $_flag = true -}}
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}

            {{- $PlaceholderImage := ($Image.Resize "x20 jpg").Filter (images.GaussianBlur 2) -}}
            {{- $Placeholder = print $public_cdn $PlaceholderImage.RelPermalink -}}

            {{- $Colors = $PlaceholderImage.Colors -}}
        {{- else -}}
            {{- $Colors = $Image.Colors -}}
        {{- end -}}

        <!-- 提取图片主色 -->
        {{- if and (ge $Colors 1) -}}
            {{- if lt (len $Colors) 2 -}}
                {{- $Colors = $Colors | append "#ccc" -}}
            {{- end -}}
        {{- else -}}
            {{- $Colors = slice "#ccc" "#ccc" -}}
        {{- end -}}
        {{- $Colors = delimit (first 2 $Colors) ", " -}}

        {{- $returnValue.SetInMap "returnValue" "Processed" true -}}
        {{- $returnValue.SetInMap "returnValue" "Srcset" $Srcset -}}
        {{- $returnValue.SetInMap "returnValue" "SrcsetWebp" $SrcsetWebp -}}
        {{- $returnValue.SetInMap "returnValue" "Placeholder" $Placeholder -}}
        {{- $returnValue.SetInMap "returnValue" "Colors" $Colors -}}
        {{- $returnValue.SetInMap "returnValue" "Width" $Width -}}
        {{- $returnValue.SetInMap "returnValue" "Height" $Height -}}
        {{- $returnValue.SetInMap "returnValue" "NotSVG" $NotSVG -}}
        {{- $returnValue.SetInMap "returnValue" "NotGIF" $NotGIF -}}
        {{- $returnValue.SetInMap "returnValue" "Permalink" $Permalink -}}
        {{- $returnValue.SetInMap "returnValue" "Image" $Image -}}
    {{- else -}}
        {{- $returnValue.SetInMap "returnValue" "Processed" false -}}
        {{- $returnValue.SetInMap "returnValue" "Image" $Image -}}
    {{- end -}}
{{- end -}}

{{- return $returnValue.Get "returnValue" -}}
