<!DOCTYPE html>
<html lang="{{- .Language -}}" class="lang-{{- .Language -}}">
    <head>
        {{- partial "html/head/head" . -}}
        {{- block "head" . -}}{{ end }}
    </head>

    <body class="dark:bg-darkBg dark:text-darkText">
        <div class="relative mx-auto shadow-lg md:max-w-4xl xl:max-w-4xl 2xl:max-w-4xl">
            <div class="main flex flex-col justify-between bg-white dark:bg-darkFg">
                {{- partial "html/header" . -}}

                <main class="{{ if .Site.Params.fixedNav }}mt-28 md:mt-20{{ end }} relative flex flex-grow" id="swup">
                    {{- partial "html/style" . -}}
                    <div class="type-{{ .Type }} layout-{{ .Layout }} w-full">{{- block "main" . -}}{{- end -}}</div>
                </main>

                {{- partial "html/footer" . -}}
            </div>
        </div>
        {{- partial "components/backtop" . -}}

        {{- partial "components/i18nlist" . -}}

        {{- partial "noscript" . -}}
    </body>
</html>
