{{- define "main" -}}
    <div class="page-gallery">
        <div class=" border-b py-8 text-center dark:border-darkBorder">
            <div class=" text-4xl font-bold">{{- .Title -}}</div>
            {{- with .Summary -}}
                <div class="mt-4 inline-flex items-center ">
                    <span class="text-gray-300 dark:text-gray-600">-</span>
                    <span class=" mx-2 italic text-gray-500">{{ . }}</span>
                    <span class="text-gray-300 dark:text-gray-600">-</span>
                </div>
            {{- end -}}
            <div class="mt-4 flex items-center justify-center text-xs text-gray-400">
                {{- if .Date -}}
                    <i class="eva eva-clock-outline mr-1"></i>
                    <time
                        class=" "
                        title="{{- .Date.Format (T "date.normal") -}}"
                        {{- printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr -}}
                        >{{- .Date.Format (T "date.d_m_y") -}}</time
                    >
                {{- end -}}

                {{- if .Params.categories -}}
                    <div class=" flex items-center">
                        <span class="mx-2 opacity-50">|</span>
                        <i class=" eva eva-folder-outline mr-1"></i>
                        {{- range .Params.categories -}}
                            <a href="{{- "/categories/" | relLangURL -}}{{- . | urlize -}}" title="{{- . -}}" class="group flex items-center">
                                <span class=" group-hover:text-theme">{{- . -}}</span>
                                <span class="mx-0.5 group-last:hidden">,</span>
                            </a>
                        {{- end -}}
                    </div>
                {{- end -}}

                {{- if .Params.tags -}}
                    <div class=" flex items-center">
                        <span class="mx-2 opacity-50">|</span>
                        {{- range .Params.tags -}}
                            <a href="{{- "/tags/" | relLangURL -}}{{- . | urlize -}}" title="{{- . -}}" class="group mr-2 flex items-center">
                                <i class="mr-1  group-hover:text-theme">#</i>
                                <span class=" group-hover:text-theme"> {{- . -}}</span>
                            </a>
                        {{- end -}}
                    </div>
                {{- end -}}
            </div>
            <!-- <div class="my-6 text-gray-100 dark:text-gray-600">|</div> -->
        </div>
        <div class="">{{- .Content -}}</div>
        <div class=" my-10 text-center text-gray-300">- <span class="mx-2">End</span> -</div>

        {{- if eq .Type "posts" -}}
            {{- partial "article/components/footer" . }}
        {{- end -}}
    </div>
{{- end -}}
