{{- define "main" -}}
    {{- $githubConfig := or .Params.github .Site.Params.github -}}
    {{- $ids := $githubConfig.id -}}
    {{- $githubColors := .Site.Data.luna.githubColors -}}
    {{- $multiple := ne (printf "%T" $ids) "string" -}}
    <div class="page-github relative py-8">
        {{- if $ids -}}
            {{- if not $multiple -}}
                {{- $ids = slice $ids -}}
            {{- end -}}
            <div class="mx-6 mb-2 inline-flex items-end pb-3 text-3xl md:mx-10">
                <div class="mr-4 inline-flex items-center leading-none">
                    <i class="eva eva-github-outline mr-2"></i>
                    <span>{{- .Title -}}</span>
                </div>
                <div class="inline-block text-lg leading-none text-gray-500 dark:text-darkTextPlaceholder">
                    {{- if $multiple -}}
                        {{- range $i, $id := $ids -}}
                        <a class="hover:text-theme" href="https://github.com/{{- $id -}}/" target="_blank" rel="noopener noreferrer" title="{{- T "github.goto" -}}">
                            @{{ $id }}{{- if ne (len $ids) (add $i 1) -}}, {{- end -}}
                        </a>
                        {{- end -}}
                    {{- else -}}
                        <a class="hover:text-theme" href="https://github.com/{{- $githubConfig.id -}}/" target="_blank" rel="noopener noreferrer" title="{{- T "github.goto" -}}">
                            @{{- $githubConfig.id -}}
                        </a>
                    {{- end -}}
                </div>
            </div>
            {{- if $multiple -}}<div class="md:mx-4 mx-2 github-tabs my-4 flex flex-wrap">{{- end -}}
                {{- range $i, $id := $ids -}}
                    <input type="radio" name="github-tabs" id="{{- $id -}}" {{- if eq $i 0 -}}checked="checked"{{- end -}} />
                    {{- if $multiple -}}<label class="order-1 block cursor-pointer px-4 py-2 font-bold {{ if (eq $i 0) }}md:ml-6 ml-4{{ end }}" for="{{- $id -}}">@{{- $id -}}</label>{{- end -}}
                    {{- if $multiple -}}<div class="github-tab order-last hidden border-t border-gray-200 dark:border-gray-600 md:mx-6 mx-4">{{- end -}}
                        <div class="{{ if $multiple }} -mx-4 {{ else }} md:mx-6 mx-2 {{ end }}" id="github">
                            {{- $apiURL := print "https://api.github.com/users/" $id "/repos?per_page=100&type=owner" -}}
                            {{- $githubData := getJSON $apiURL -}}
                            {{- range sort $githubData "stargazers_count" "desc" -}}
                                {{- if and (eq .owner.login $id) (gt .stargazers_count $githubConfig.minStars) -}}
                                    <a href="{{- .html_url -}}" target="_blank" rel="noopener noreferrer" class="inline-flex w-full  flex-col  justify-between sm:w-1/2">
                                        <div
                                            class="card relative m-4 flex h-40 flex-col justify-between rounded border p-4 transition duration-300 ease-[ease] dark:border-darkBorder dark:bg-darkBgAccent dark:shadow-none sm:border-none"
                                        >
                                            <div class="z-10">
                                                <div class="text-lg font-bold" title="{{- .name -}}">
                                                    {{- .name -}}
                                                </div>
                                                <div class="my-3 line-clamp-2" title="{{- or .description "暫無描述" -}}">
                                                    {{- or .description "暫無描述" -}}
                                                </div>
                                            </div>
                                            <div class="z-10 flex justify-between">
                                                <div class="flex">
                                                    <div class="mr-6 flex items-center">
                                                        <i class="eva eva-star mr-1 text-amber-400"></i>
                                                        <span>{{- .stargazers_count -}}</span>
                                                    </div>

                                                    {{- if .language -}}
                                                        <div class="flex items-center">
                                                            <span class="github-language-dot" style="background-color:{{- index $githubColors .language -}};"></span>
                                                            <span>{{- .language -}}</span>
                                                        </div>
                                                    {{- end -}}
                                                </div>

                                                <div class="flex items-center">
                                                    <i class="eva eva-shuffle-2 mr-1 text-blue-500"></i>
                                                    <span>{{- .forks -}}</span>
                                                </div>
                                            </div>

                                            <div class=" absolute right-0 text-9xl text-gray-50 dark:text-darkBorder">
                                                <i class="eva eva-github-outline"></i>
                                            </div>
                                        </div>
                                    </a>
                                {{- end -}}
                            {{- end -}}
                        </div>
                    {{- if (gt (len $ids) 1) -}}</div>{{- end -}}
                {{- end -}}
            {{- if (gt (len $ids) 1) -}}</div>{{- end -}}
        {{- else -}}
            {{- warnf "!!! GitHub ID not set, Please check your config file" -}}
            <div class=" text-xl">ERROR: {{- T "github.config" -}}</div>
        {{- end -}}
    </div>
{{- end -}}
