{{- define "main" -}}
    <div class="page-links relative py-8">
        <div class="mx-6 mb-2 inline-flex items-end pb-3 text-3xl md:mx-10">
            <div class="mr-4 inline-flex items-center leading-none">
                <i class="eva eva-people-outline mr-2"></i>
                <span>{{- .Title -}}</span>
            </div>
            <div class="ml-2 inline-block text-lg leading-none text-gray-400">
                {{- T "linksRank" -}}
            </div>
        </div>

        <div class="mx-6 md:mx-10">
            {{- .Content -}}
        </div>
    </div>

    {{- partial "comments/include" . }}
{{- end -}}
