{{- define "main" -}}
    {{- $public_cdn := cond .Site.IsServer "" .Site.Params.publicCDN -}}


    <div class="page-search">
        <div class="search-input flex items-center border-b bg-gray-100 px-3 py-2 text-2xl dark:border-darkBorder dark:bg-darkBgAccent">
            <input id="search-input" type="search" disabled placeholder="{{- cond .Site.Params.search (T "search.loading") (T "search.notEnabled")  -}}" autofocus="autofocus" class="w-full" />
            <i class="eva eva-search ml-4 block cursor-pointer text-gray-500"></i>
        </div>
        <div class="relative">
            <noscript>
                <h2 class="mt-12 -mb-10 text-center text-2xl font-bold">{{- T "noscript" -}}</h2>
            </noscript>
            <div id="search-image" class="mt-20 flex items-center justify-center">
                <img
                    src="{{- print $public_cdn ("images/search.svg" | relURL) -}}"
                    alt="search-results"
                    class="pointer-events-none max-h-full max-w-xs md:max-w-sm"
                />
            </div>
            <div id="search-results"  class="p-6 md:px-10 pb-0">
                <div id="search-results-title" class="hidden font-bold text-2xl border-b dark:border-darkBorder pb-4">
                    {{- $countHTML := "<span id='search-results-count' class='text-theme'>${keyword}</span>" -}}
                    {{- $keywordHTML := "<span id='search-results-keyword' class='text-theme'>${results}</span>" -}}
                    {{- T "search.results" (dict "Count" $countHTML "Keyword" $keywordHTML) | safeHTML -}}
                </div>
                <div id="search-results-items"></div>
            </div>
        </div>
    </div>
{{- end -}}
