{{- define "main" -}}
{{- $cdn := "" -}}
{{- if and .Site.Params.publicPath (not .Site.IsServer) -}}
{{- $cdn = .Site.Params.publicPath -}}
{{- end -}}
<div class="page-search">
    <div class="search-input bg-gray-100 dark:bg-darkBgAccent border-b dark:border-darkBorder px-3 py-2 flex items-center text-2xl">
        <input id="search-input" type="search" disabled placeholder="{{ T "searchLoading" }}" autofocus="autofocus" class="w-full">
        <i class="eva eva-search ml-4 cursor-pointer block text-gray-500"></i>
    </div>
    <div class=" relative">
        <noscript>
            <h2 class=" text-center mt-12 text-2xl font-bold -mb-10">{{- T "noscript" -}}</h2>
        </noscript>
        <div id="search-image" class="flex justify-center items-center mt-20">
            <img src="{{- $cdn -}}/images/search.svg" alt="search-results" class="pointer-events-none max-w-xs md:max-w-sm max-h-full">
        </div>
        <div id="search-results"></div>
    </div>
</div>
{{- end -}}