{{- define "main" -}}
    {{- $public_cdn := cond .Site.IsServer "" .Site.Params.publicCDN -}}
    {{- $Title := or $.Title (T "post.untitled") -}}
    <div class="relative h-full">
        <div class="relative h-full">
            <div class="page-view-article flex h-full flex-col bg-white dark:bg-darkFg">
                <div class="relative">
                    {{- if or (.Site.Params.defaultFeaturedImage) (.Params.featured_image) -}}
                        {{- $featured_image := "" -}}
                        {{- $srcset := "" -}}
                        {{- $srcset_webp := "" -}}
                        {{- $featured_image_small := "" -}}
                        {{- $featured_image_big := "" -}}
                        {{- $featured_image_small_webp := "" -}}
                        {{- $featured_image_big_webp := "" -}}
                        {{- $featured_image_bg := "" -}}
                        {{- $width := 0 }}
                        {{- $height := 0 }}
                        {{- $lazyload := .Site.Params.lazyload -}}
                        {{- $featured_image_url := or .Params.featured_image .Site.Params.defaultFeaturedImage -}}

                        {{- if (urls.Parse ($featured_image_url | safeURL)).Scheme -}}
                            {{- $featured_image = $featured_image_url | safeURL -}}
                        {{- else -}}
                            {{- if .Params.featured_image -}}
                                {{- $featured_image = .Resources.GetMatch .Params.featured_image -}}
                            {{- else -}}
                                {{- $featured_image = resources.Get .Site.Params.defaultFeaturedImage -}}
                            {{- end }}

                            {{- $width = $featured_image.Width -}}
                            {{- $height = $featured_image.Height -}}

                            {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
                                {{- $featured_image_small = print $public_cdn ($featured_image.Resize "800x").RelPermalink -}}
                                {{- $featured_image_big = print $public_cdn ($featured_image.Resize "1200x").RelPermalink -}}
                                {{- $featured_image_bg = print $public_cdn (($featured_image.Resize "50x").Filter (images.GaussianBlur 2)).RelPermalink -}}
                                {{- $srcset = printf "%s 800w, %s 1200w" $featured_image_small $featured_image_big -}}

                                {{- $featured_image_small_webp = print $public_cdn ($featured_image.Resize "800x webp").RelPermalink -}}
                                {{- $featured_image_big_webp = print $public_cdn ($featured_image.Resize "1200x webp").RelPermalink -}}
                                {{- $srcset_webp = printf "%s 800w, %s 1200w" $featured_image_small_webp $featured_image_big_webp -}}
                            {{- end -}}
                        {{- end -}}


                        <div class="article-cover relative h-0 w-full">
                            <picture>
                                {{- with $srcset_webp -}}<source {{ if $lazyload }}data-{{ end }}srcset="{{- $srcset_webp -}}" type="image/webp" />{{- end -}}
                                <img
                                    {{ if $lazyload }}data-{{ end }}src="{{- $featured_image -}}"
                                    {{ if $lazyload }}src="{{- $featured_image_bg -}}"{{ end }}
                                    {{ if $srcset }}{{ if $lazyload }}data-{{ end }}srcset="{{- $srcset -}}"{{ end }}
                                    {{- with $Title -}}alt="{{- . -}}"{{- end -}}
                                    {{- with $width -}}width="{{- . -}}"{{- end -}}
                                    {{- with $height -}}height="{{- . -}}"{{- end -}}
                                    class="absolute left-0 top-0 h-full w-full object-cover object-center"
                                    {{ if $lazyload }}data-lazyload data-lazyload-blur{{ end }}

                                />
                                <noscript>
                                    <img
                                        src="{{- $featured_image -}}"
                                        {{- with $srcset -}}srcset="{{- . -}}"{{- end -}}
                                        {{- with $Title -}}alt="{{- . -}}"{{- end -}}
                                        {{- with $width -}}width="{{- . -}}"{{- end -}}
                                        {{- with $height -}}height="{{- . -}}"{{- end -}}
                                        class="absolute left-0 top-0 h-full w-full object-cover object-center"
                                    />
                                </noscript>
                            </picture>
                        </div>
                        <h1 class="article-title absolute bottom-0 left-0 w-full px-6 pb-8 pt-32 text-3xl text-white dark:text-darkText md:text-4xl">
                            {{ $Title }}
                        </h1>
                    {{- else -}}
                        <div>
                            <div class="-mb-2 w-full p-6 pb-0 text-3xl">
                                {{ $Title }}
                            </div>
                        </div>
                    {{- end -}}
                </div>
                <div class="article-info border-b p-6 pb-3 text-sm dark:border-darkBorder">
                    <div>
                        <div class="mb-3 mr-4 inline-flex items-center sm:rounded-full">
                            <i class="eva eva-clock-outline mr-1"></i>
                            <span>
                                <time
                                    title="{{- T "post.publishedIn" -}}{{- .Date.Format (T "date.normal") -}}"
                                    {{- printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr -}}
                                    >{{- .Date.Format (T "date.d_m_y") -}}</time
                                >
                            </span>
                        </div>
                        {{- if .Site.Params.lastmod -}}
                            {{- if ne (.Lastmod.Format (T "date.d_m_y")) (.Date.Format (T "date.d_m_y")) -}}
                                <span class="mb-3 mr-4 inline-flex items-center sm:rounded-full">
                                    <i class="eva eva-edit-2-outline mr-1"></i>
                                    <span>
                                        <time
                                            title="{{- T "post.lastmod" -}}{{- .Lastmod.Format (T "date.normal") -}}"
                                            {{- printf `datetime="%s"` (.Lastmod.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr -}}
                                            >{{- .Lastmod.Format (T "date.d_m_y") -}}</time
                                        >
                                    </span>
                                </span>
                            {{- end -}}
                        {{- end -}}
                        {{- if .Site.Params.readingTime -}}
                            <div class="mb-3 mr-4 inline-flex items-center sm:rounded-full">
                                <i class="eva eva-flag-outline mr-1"></i>
                                <span>{{- T "post.readingTime" .ReadingTime }}</span>
                            </div>
                        {{- end -}}
                        {{- if .Site.Params.wordCount -}}
                            <div class="mb-3 mr-4 inline-flex items-center sm:rounded-full">
                                <i class="eva eva-bar-chart-outline mr-1"></i>
                                <span>{{- T "post.wordCount" .WordCount }}</span>
                            </div>
                        {{- end -}}
                    </div>

                    {{- if .Params.tags -}}
                        <div class="mb-3 flex items-center">
                            <i class="eva eva-pricetags-outline mr-1"></i>
                            <span class="mr-3">{{- T "taxonomy._tags" -}}</span>
                            {{- range .Params.tags -}}
                                <a href="{{- "/tags/" | relLangURL -}}{{- . | urlize -}}" title="{{- . -}}" class="group mr-2 flex items-center text-sm">
                                    <i class="mr-1 text-gray-400 group-hover:text-theme">#</i>
                                    <span class="text-gray-400 group-hover:text-theme"> {{- . -}}</span>
                                </a>
                            {{- end -}}
                        </div>
                    {{- end -}}
                    {{- if .Params.categories -}}
                        <div class="mb-3 flex items-center">
                            <i class="eva eva-folder-outline mr-1"></i>
                            <span class="mr-3">{{- T "taxonomy._categories" -}}</span>
                            {{- range .Params.categories -}}
                                <a href="{{- "/categories/" | relLangURL -}}{{- . | urlize -}}" title="{{- . -}}" class="group flex items-center text-sm">
                                    <span class="text-gray-400 group-hover:text-theme">{{- . -}}</span>
                                    <span class="mx-0.5 group-last:hidden">,</span>
                                </a>
                            {{- end -}}
                        </div>
                    {{- end -}}
                </div>

                {{- partial "post/toc" . }}


                <section class="article-content typo flex-grow px-6 py-5 md:px-10 relative">
                    {{- if .Site.Params.bionicReading.enabled -}}
                        <i title="{{- T "bionicReading" -}}" id="bionicReading" class="absolute right-0 top-0 p-3 cursor-pointer">{{- $.Site.Data.luna.icon.wand | safeHTML -}}</i>
                    {{- end -}}
                    {{- .Content -}}
                </section>

                {{- partial "post/footer" . }}
            </div>
        </div>
    </div>
{{ end }}
