{{- define "main" -}}
    <div class="page-tags relative py-8">
        <div class="mx-6 mb-2 inline-flex items-end pb-3 text-3xl md:mx-10">
            <div class="mr-4 inline-flex items-center leading-none">
                {{- if eq .Title "Categories" -}}
                    <i class="eva eva-folder-outline mr-2"></i>
                {{- else -}}
                    <i class="eva eva-hash-outline mr-2"></i>
                {{- end -}}
                <span>{{- .Title -}}</span>
            </div>
            <div class="ml-2 inline-block text-lg leading-none text-gray-500 dark:text-darkTextPlaceholder">
                {{- if eq .Title "Categories" -}}
                    {{- $totalCategories := len .Site.Taxonomies.categories | string -}}
                    {{- $totalCategoriesHTML := printf `<span class="text-theme font-bold mx-1">%s</span>` $totalCategories -}}
                    {{- T "taxonomy.totalCategories" $totalCategoriesHTML | safeHTML -}}
                {{- else -}}
                    {{- $totalTags := len .Site.Taxonomies.tags | string -}}
                    {{- $totalTagsHTML := printf `<span class="text-theme font-bold mx-1">%s</span>` $totalTags -}}
                    {{- T "taxonomy.totalTags" $totalTagsHTML | safeHTML -}}
                {{- end -}}
            </div>
        </div>

        <div class="mx-6 md:mx-10">
            {{- if eq .Title "Categories" -}}
                {{- range sort .Site.Taxonomies.categories "Count" "desc" -}}
                    <a
                        class="mr-2 mb-2 inline-flex items-center rounded border bg-white px-2 py-1 transition duration-300 ease-[ease] hover:border-theme hover:text-theme dark:border-darkBorder dark:bg-darkBgAccent"
                        href="{{- .Page.RelPermalink -}}"
                    >
                        <span>{{- .Page.Title -}}</span>
                        <span class="ml-1 text-gray-400 dark:text-darkTextPlaceholder">{{- .Count -}}</span>
                    </a>
                {{- end -}}
            {{- else -}}
                {{- range sort .Site.Taxonomies.tags "Count" "desc" -}}
                    {{- $size := add (mul .Count 0.15) 0.75 -}}
                    {{- if gt $size 4 -}}
                        {{- $size = 3 -}}
                    {{- end -}}
                    <a
                        style="font-size: {{- $size -}}rem;"
                        class="mr-2 mb-2 inline-flex items-center rounded border bg-white px-2 py-1 transition duration-300 ease-[ease] hover:border-theme hover:text-theme dark:border-darkBorder dark:bg-darkBgAccent"
                        href="{{- .Page.RelPermalink -}}"
                    >
                        <span>{{- .Page.Title -}}</span>
                        <span class="ml-1 text-gray-400 dark:text-darkTextPlaceholder">{{- .Count -}}</span>
                    </a>
                {{- end -}}
            {{- end -}}
        </div>
    </div>
{{- end -}}
