{{- define "main" -}}
{{- $cdn := "" -}}
{{- if and .Site.Params.publicPath (not .Site.IsServer) -}}
{{- $cdn = .Site.Params.publicPath -}}
{{- end -}}

<div class="flex justify-center items-center px-8 absolute h-full">
    <div class=" w-5/6 md:w-4/6 text-center">
        <img
            src="{{- $cdn -}}/images/error.svg"
            alt="404"
            class="max-w-full max-h-full pointer-events-none"
        />
        <a href="/" class=" text-3xl font-bold text-center my-8 hover:text-theme transition duration-200 ease-[ease] inline-block border-b border-gray-600">{{ T "notFound" }}</a>
    </div>
</div>
{{- end -}}