{{- define "main" -}}
    <div class="page-blog relative px-6 md:px-10">
        <div class="article-list mx-auto">
            <div class="flex items-center py-6 text-xl">
                <i class="eva eva-bar-chart-outline mr-2"></i>
                {{- $totalPost := len (where site.RegularPages "Type" "in" (slice "posts" "status")) | string -}}
                {{- $totalPostHTML := printf `<span class="mx-1 text-theme">%s</span>` $totalPost -}}
                <span>{{- T "post.archiveCounter" $totalPostHTML | safeHTML -}}</span>
            </div>

            {{- partial "components/announcement" . -}}

            <div>
                {{- $paginator := .Paginate (where site.RegularPages "Type" "in" (slice "posts" "status")) -}}
                {{- range $paginator.Pages -}}
                    {{- partial "article-list/article" . -}}
                {{- end -}}
            </div>
        </div>

        {{- partial "article-list/components/pagination" . -}}
    </div>
{{- end -}}
