{{- $public_cdn := cond .Site.IsServer "" .Site.Params.publicCDN -}}
{{- $lazyload_image := print $public_cdn ("images/outload.svg" | relURL) -}}
{{- $Title := or $.Title (T "post.untitled") -}}

{{- $featuredImage := "" -}}
{{- $processImage := "" -}}
{{- $lazyload := .Site.Params.lazyload -}}
{{- $featuredImageUrl := or .Params.featured_image .Site.Params.defaultFeaturedImage -}}

{{- if (urls.Parse ($featuredImageUrl | safeURL)).Scheme -}}
    {{- $featuredImage = $featuredImageUrl | safeURL -}}
{{- else -}}
    {{- $featuredImage = cond (isset .Params "featured_image") (.Resources.GetMatch .Params.featured_image) (resources.Get .Site.Params.defaultFeaturedImage) -}}
    {{- $processImage = partial "helper/image-process" (dict "Image" $featuredImage "Site" .Page.Site) -}}

    {{- $featuredImageUrl = print $public_cdn $processImage.Permalink -}}
{{- end -}}


<div class="article-cover relative h-0 w-full">
    <picture class="noscript-hidden">
        {{- with $processImage.SrcsetWebp -}}
            <source {{ if $lazyload }}data-{{ end }}srcset="{{- $processImage.SrcsetWebp -}}" type="image/webp" />
        {{- end -}}
        <img
            {{ if $lazyload }}data-{{ end }}src="{{- $featuredImageUrl -}}"
            {{ if $lazyload }}src="{{- or $processImage.Placeholder $lazyload_image -}}"{{ end }}
            {{- with $processImage.Width -}}width="{{- . -}}"{{- end -}}
            {{- with $processImage.Height -}}height="{{- . -}}"{{- end -}}
            {{ if $lazyload }}data-{{ end }}{{- with $processImage.Srcset -}}srcset="{{- . -}}"{{- end -}}
            {{- with $Title -}}alt="{{- . -}}"{{- end -}}
            class="absolute left-0 top-0 h-full w-full object-cover object-center"
            {{ if $lazyload }}data-lazyload data-lazyload-blur{{ end }}

        />
    </picture>
    <noscript>
        <picture>
            {{- with $processImage.SrcsetWebp -}}<source srcset="{{- $processImage.SrcsetWebp -}}" type="image/webp" />{{- end -}}
            <img
                src="{{- $featuredImageUrl -}}"
                {{- with $processImage.Srcset -}}srcset="{{- . -}}"{{- end -}}
                {{- with $Title -}}alt="{{- . -}}"{{- end -}}
                {{- with $processImage.Width -}}width="{{- . -}}"{{- end -}}
                {{- with $processImage.Height -}}height="{{- . -}}"{{- end -}}
                class="absolute left-0 top-0 h-full w-full object-cover object-center"
            />
        </picture>
    </noscript>
</div>
<h1 class="article-title absolute bottom-0 left-0 w-full px-6 pb-8 pt-32 text-3xl text-white dark:text-darkText md:px-10 md:text-4xl">
    {{ $Title }}
</h1>