<div class="relative h-full">
    <div class="relative h-full">
        <div class="page-view-article flex h-full flex-col bg-white dark:bg-darkFg">
            {{- partial "article/components/cover" . }}

            {{- partial "article/components/info" . }}

            {{- partial "article/components/toc" . }}

            {{- partial "article/components/lastmod" . }}

            {{- partial "article/components/content" . }}

            {{- partial "article/components/footer" . }}
        </div>
    </div>
</div>