{{- $colors := newScratch -}}
{{- $colors.Set "theme" "bg-theme" -}}
{{- $colors.Set "red" "bg-red-400" -}}
{{- $colors.Set "green" "bg-green-400" -}}
{{- $colors.Set "blue" "bg-blue-400" -}}
{{- $colors.Set "orange" "bg-orange-400" -}}
{{- $color := $colors.Get (or (.Get "color") "theme") -}}

{{- $sizes := newScratch -}}
{{- $sizes.Set "small" "text-sm px-3 py-1.5" -}}
{{- $sizes.Set "normal" "text-base px-4 py-2" -}}
{{- $sizes.Set "large" "text-lg px-5 py-3" -}}
{{- $size := $sizes.Get (or (.Get "size") "normal") -}}

{{- if .Get "link" -}}
<a href="{{- .Get "link" -}}" target="_blank" class="after:hidden m-1 align-bottom cursor-pointer no-icon rounded inline-flex items-center hover:opacity-80 transition {{ $color }} {{ $size }}">
    <i class="mr-1 text-white {{ .Get "icon" }}"></i>
    <span class=" text-white">{{- .Get "content" | markdownify -}}</span>
</a>
{{- else -}}
<div class="m-1 align-bottom cursor-pointer rounded text-white inline-flex items-center hover:opacity-80 transition {{ $color }} {{ $size }}">
    <i class="mr-1 {{ .Get "icon" }}"></i>
    <span>{{- .Get "content" | markdownify -}}</span>
</div>
{{- end -}}