{{- $colors := newScratch -}}
{{- $colors.Set "theme" "bg-theme/10 text-theme hover:bg-theme/5" -}}
{{- $colors.Set "red" "bg-red-500/10 text-red-500 hover:bg-red-500/5" -}}
{{- $colors.Set "green" "bg-green-500/10 text-green-500 hover:bg-green-500/5" -}}
{{- $colors.Set "blue" "bg-blue-500/10 text-blue-500 hover:bg-blue-500/5" -}}
{{- $colors.Set "orange" "bg-orange-500/10 text-orange-500 hover:bg-orange-500/5" -}}
{{- $color := $colors.Get (or (.Get "color") "theme") -}}

{{- $sizes := newScratch -}}
{{- $sizes.Set "small" "text-sm px-3 py-1.5" -}}
{{- $sizes.Set "normal" "text-base px-4 py-2" -}}
{{- $sizes.Set "large" "text-lg px-5 py-3" -}}
{{- $size := $sizes.Get (or (.Get "size") "normal") -}}

{{- if .Get "link" -}}
<a href="{{- .Get "link" -}}" target="_blank" class="after:hidden m-1 cursor-pointer no-icon rounded inline-flex items-center transition {{ $color}} {{ $size }}">
    <i class="mr-1 text-inherit {{ .Get "icon" }}"></i>
    <span class=" text-inherit">{{- .Get "content" | markdownify -}}</span>
</a>
{{- else -}}
<div class="m-1 cursor-pointer rounded  inline-flex items-center transition {{ $color}} {{ $size }}">
    <i class="mr-1 {{ .Get "icon" }}"></i>
    <span>{{- .Get "content" | markdownify -}}</span>
</div>
{{- end -}}