<div class="github my-4 rounded border p-4 dark:border-darkBorder">
    <div class="flex items-center text-xl">
        <i class="eva eva-github mr-2"></i>
        <a class="after:hidden" href="{{- .Get "link" -}}" target="_blank">{{- .Get "name" -}}</a>
    </div>
    <div class="my-2 leading-6">{{- .Get "description" -}}</div>
    <div class="flex items-center">
        <span class="mr-1 inline-block h-3 w-3 rounded-full" style="background-color: {{- .Get "color" -}}"></span>
        <span>{{- .Get "language" -}}</span>
    </div>
</div>
