{{- if .Get 0 -}}
    <div class="blur-sm filter transition ease-in-out hover:filter-none">
        {{- .Inner | markdownify -}}
    </div>
{{- else -}}
    <div
        class="relative after:pointer-events-none after:absolute after:left-0 after:top-0 after:z-50 after:block after:h-full after:w-full after:rounded after:bg-darkBg after:transition after:ease-in-out hover:after:bg-transparent dark:after:bg-darkText dark:hover:after:bg-transparent"
    >
        {{- .Inner | markdownify -}}
    </div>
{{- end -}}
