{{- $colors := newScratch -}}
{{- $colors.Set "red" "bg-red-400" -}}
{{- $colors.Set "green" "bg-green-400" -}}
{{- $colors.Set "blue" "bg-blue-400" -}}
{{- $colors.Set "orange" "bg-orange-400" -}}
{{- $colors.Set "theme" "bg-theme" -}}


<div class="my-4">
    <div class="flex justify-between">
        <div>{{- index .Params 2 -}}</div>
        <div>{{- index .Params 0 -}}%</div>
    </div>
    <div class="relative w-full overflow-hidden rounded-full bg-gray-200 dark:bg-gray-300">
        <div class="{{ $colors.Get (index .Params 1) }} h-2" style="width: {{- index .Params 0 -}}%;"></div>
    </div>
</div>
